
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    padding: 2rem 0rem 2rem 7rem;
    background-color: #00586D;
    
}

.cabecalho_flex{
    display: flex;
    gap: 2.5rem;
    
}
.cabecalho_flex_links:hover{
    text-decoration: underline;
    color: #0194b9;
}
.cabecalho_flex_links{
    color: white;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
.main_flex{
    display: flex;
    margin: 7rem 7rem;
    align-items: center;
    gap: 3.25rem;
}
.main_flex2{
    display: flex;
    margin: 2rem 7rem;
    align-items: left;
    gap: 3.25rem;
    text-align: left;
}
.section_flex{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}
.titulo{
    font-size: 1.875rem;
    text-align: justify;
    font-family: "Krona One", sans-serif ;
}
.titulo2{
    font-size: 1.875rem;
    text-align: center;
    font-family: "Krona One", sans-serif ;
    align-items: center;
    margin-top:  1.875rem;
}
.paragrafo{
    font-size: 1.25rem ;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
}
.paragrafo2{
    display: flex;

    text-align: left;
    
}
.flex_h4_a{
    display: flex;
    flex-direction: column;
    gap: 0.938rem;
    align-items: center;
}
.flex_h4_a a{
    color: aqua;
}

.semi_botao:hover{
    background-color: #0194b9;
}
.semi_botao{
    background-color: #00586D;
    width: 9.375rem;
    text-align: center;
    border-radius: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    color: #f2f2f2;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 0.75rem;
}
.rodape{
    padding: 2rem 0rem 3rem 7rem;
    text-align: center;
    color: #f2f2f2;
    font-family: "Montserrat", sans-serif;
    background-color: #00586D;
    font-size: 0.938rem;
    width: auto;
}
a{
    text-decoration: none;
    color: #f2f2f2;
}
a:hover{
    text-decoration: underline;
    color: #0194b9;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f2f2f2;
    color: #4682B4;
}
main{
    flex: 1;    

}
strong{
    color: #00586D;
}

@media(max-width: 768px){
    .cabecalho_flex{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
    .main_flex{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
    
}
